@tailwind base;
@tailwind components;
@tailwind utilities;


@font-face {
  font-family: 'iranSans';
  src: url('/public/fonts/IRANSansWeb.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}


body {
  font-family: iranSans;
  direction: rtl;
}


.form-control {
  display: block;
  width: 75%;
  height: calc(1.5em + .75rem + 2px);
  padding: .375rem .75rem;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #495057;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #ced4da;
  border-radius: .25rem;
  transition: border-color .15sease-in-out, box-shadow .15sease-in-out;
}
.form-control-select {
direction: rtl;
  width: 75%;
  height: calc(1.5em + .75rem + 2px);
  padding: .375rem .75rem;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #495057;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #ced4da;
  border-radius: .25rem;
  transition: border-color .15sease-in-out, box-shadow .15sease-in-out;
}

@layer base {}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-background text-foreground;
  }
}
